html, body {
  height: 100%;
}

body, div {
  display: grid;
}

body {
  grid-template-columns: auto auto;
  margin: 0;
}

div {
  font-family: sans-serif;
  place-items: center;
  user-select: none;
  cursor: pointer;
}
